# Compiled JavaScript files
# ignore all service account files
**/service-account.json

lib/**/*.js
lib/**/*.json
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Service account files
src/assets/service-account.json

